/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
:root {
  --grey: #949494;
  --darkgrey: #4A4A4A;
  --darkblue: #0000ff;
}

html {
  font-size: 4.5vw;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1, h2, h3, header {
  font-family: 'Kiwi Maru', serif;
}

h1 {
  font-size: 2em;
}

h1, h2{
  text-align: center;
}

header, .header-top .container {
  height: 3rem;
}

.header-top {
  background-color:white;
  color: var(white);
}

.header-top .container {
  display: flex;
  justify-content: space-between;
}

main .container {
  height: 100%;
  z-index: 888;
  padding-left: 1rem;
  padding-right: 1rem;
}

section:nth-of-type(even) {
  background: whitesmoke;
}

.logo, #menuToggler {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.2rem;
  top:2%;

}



.portrait {
  margin-top: 3rem;
  height: 100%;
}

.portrait img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 50%;

  background: url(img/tiger.png) no-repeat;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
}


.logo {
  padding-left: 0.65rem;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
  font-size: 1.5rem;
}

nav .container {
  transition: max-height 0.3s ease-in;
  overflow: hidden;
  max-height: 0;
}

nav.menu--open .container {
  -webkit-backdrop-filter: blur(0.25rem);
  transition-timing-function: ease-out;
  max-height: 12rem;
}


nav a {
  display: block;
  text-decoration: none;
  color: --var(darkblue);
  padding: 0.2rem 0.65rem;
}

nav img {
  height: 5rem;
  padding-right: 2em;
}

#menuToggler {
  flex-basis: 3rem;
  line-height: 0;
  font-size: 2.5rem;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid .project {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: white;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: white;
  border-style: solid;
  height: 23rem;
  width: 23rem;
}

.project p, h2 {
  margin: 0.2rem;
}

.grid img {
  margin-top: 1rem;
  width: 22rem;
  height: 18rem;
}


#blinking{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
  typing 3.5s steps(40, end),
  blink-caret .75s step-end infinite;
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  html {
    font-size: 150%;
  }

}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */


  html {
    font-size: 100%;
  }

  header {
    height: auto;
  }

  article, section {
    clear: both;
  }

  nav {
    position: relative;
  }


  #menuToggler {
    display: none;
  }

  section {
    height: 100vh;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
  }

  .altContainer .container {
    max-width: 100%;
    width: 100%;
  }

  nav .container {
    display: flex;
    align-items: center;
    max-height: none;
    overflow: auto;
  }

  nav a {
    font-size: 1.2rem;
  }

  nav a:hover {
    background-color: var(--darkblue);
    color: white;
  }

  .flex-grid {
    display: flex;
  }
  
  
  .flex-grid img {
    width: 27em;
    height: 20em;
    margin: 0.5rem;
    
  }

  .portrait {
    margin-top: 3rem;
    height: 100%;
  }

  .portrait img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }


}
