/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
:root {
  --dark: #121212;
  --light: #FFC894;
  --lightText: #FFDFD3;
}

html {
  font-size: 1.5rem;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1, h2, h3, header {
  font-family: 'Kiwi Maru', serif;
}


header, .header-top .container {
  height: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--dark);
}

.container + .container {
  background-color: var(--light)
}

.socialmedia {
  display: flex;
  justify-content: center;
}

.icons {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.portrait {
  justify-content: center;
  flex-grow: 1;
  height: 50rem;
}

.portrait h1 {
  text-align: center;
  color: var(--light);
  font-size: 1.5rem;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  margin-top: 10vh;
}

.portrait h2 {
  text-align: center;
  color: #808080;
  font-size: 1rem;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}


.port {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 0 5rem 0;
}

.nav a {
  margin: 0 1rem 0 1rem;
  text-decoration: none;
  color: var(--light);
}

.spacer {
  width: 60%;
  background-color: gray;
}

.otherContainer {
  background-image: url("../images/background.png");
  display: flex;
  height: 1080px;
}

.otherContainer h2 {
  margin: 1rem auto 2rem auto;
  text-align: center;
}

.otherContainer p {
  margin: 0 1rem 0 1rem;
}

.about {
  background-color: white;
  height: 70%;
  width: 90%;
  margin: auto auto auto auto;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 25px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.486);
}

.about p {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 2rem;
}

.about a {
  text-decoration: none;
  color: var(--dark)
}




/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */


  .portrait h1 {
    text-align: center;
    font-size: 3rem;
    white-space: nowrap;
    margin-bottom: 0.5rem;
    margin-left: 0;
  }

  .socialmedia {
    margin-top: 3rem;
    margin-left: 0;
  }

  .portrait h2 {
    text-align: center;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-bottom: 0.5rem;
    margin-left: 0;
  }

  .project {
    display: flex;
    flex-direction: row;
    width: 100%;
    left: 0;
    height: calc(100vh - 2rem);
  }

  #projectText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #projectText h2,#projectText p,#projectText a{
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    width: 90%;
  }

  .port {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
  }

  .spacer {
    width: 10%;
    background-color: gray;
  }

  .otherContainer {
    display: flex;
    height: 1080px;
  }

  .about {
    background-color: white;
    height: 65%;
    width: 75%;
    margin: auto auto auto auto;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 25px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.301);
  }

  .about h2 {
    margin: 1rem auto;
    text-align: center;
  }

  .about p {
    margin: 0 5rem 1rem 5rem;
    font-size: 0.9rem;
    text-align: center;
  }

  .about a {
    text-decoration: none;
    color: var(--dark)
  }

}
