/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
:root {
  --grey: #949494;
  --darkgrey: #4A4A4A;
}

html {
  font-size: 4.5vw;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff1e5;
  margin: 0;
}

h1, h2, h3, header {
  font-family: 'Kiwi Maru', serif;
}

h1 {
  font-size: 2em;
}

h1, h2{
  text-align: center;
}

header, .header-top .container {
  height: 3rem;
}

.header-top {
  background-color: var(--darkgrey);
  color: var(white);
}

.header-top .container {
  display: flex;
  justify-content: space-between;
}

main.container {
  height: 50em;
  z-index: 888;
}

.logo, #menuToggler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.2rem;
}

.login {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.7em;
}

.login a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.2rem 0.65rem;
}

.logo {
  padding-left: 0.65rem;
}

#display {
  padding-top: 3rem;
}
#display img {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  height: 2rem;
  background-color: var(--darkgrey);
}

.footer a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.2rem 0.65rem;
}
nav {
  position: relative;
  z-index: 999;
  background-color: var(--grey);
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
  font-size: 1.5rem;
}



nav .container {
  transition: max-height 0.3s ease-in;
  overflow: hidden;
  max-height: 0;
}

nav.menu--open .container {
  transition-timing-function: ease-out;
  max-height: 12rem;
}


nav a {
  display: block;
  text-decoration: none;
  color: #674a53;
  padding: 0.2rem 0.65rem;
}

#menuToggler {
  flex-basis: 3rem;
  line-height: 0;
  font-size: 2.5rem;
}

main {
  margin: 0 1rem;
}




/* TABLET STYLES */

@media screen and (min-width: 500px) {

  html {
    font-size: 1000%;
  }

}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */


  html {
    font-size: 100%;
  }

  header {
    height: auto;
  }

  article, section {
    clear: both;
  }


  #menuToggler {
    display: none;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
  }

  nav .container {
    display: flex;
    align-items: center;
    max-height: none;
    overflow: auto;
  }

  nav a {
    font-size: 1.2rem;
  }

  nav a:hover {
    background-color: #72c5c4;
  }

}
